<div class="sortable-container" [style.width]='listStyle.width'>
  <div class="sortable-header">
    <label class="sortable-name">{{name}}</label>
    <div class="sortable-buttons">
      <button (click)="moveUp()" [disabled]="!selectedItem" title="Move Up">&#8679;</button>
      <button (click)="moveDown()" [disabled]="!selectedItem" title="Move Down">&#8681;</button>
    </div>
  </div>
  <ul class="sortable-list" [style.height]='listStyle.height'>
    <li draggable="true" (click)="selectItem(item)" *ngFor="let item of items; let i = index;" [ngClass]="{'active': item == selectedItem}"
      (drop)="onDrop($event, i)" (dragover)="allowDrop($event,i)" (dragstart)="onDragStart($event, i)">
      <div class="drop-zone" [style.height]="listStyle.dropZoneHeight" *ngIf="onDragOverIndex == i">
      </div>
      <ng-template ngFor [ngForOf]="[item]" [ngForTemplate]="itemTemplate">
      </ng-template>
    </li>
  </ul>
</div>